<!-- <div class="footer">
    <p>© Farmera 2020</p>
</div>  -->

<div class="footer">
    <div class="inner-footer">
      <div class="footer-one">
        <h1>Follow us:</h1>
        <a href="#"><img src="/assets/Images/social media icons fb.png" /></a>
        <a href="#"><img src="/assets/Images/insta.png" /></a>
        <a href="#"><img src="/assets/Images/linkedin.png" /></a>
        <a href="#"><img src="/assets/Images/twitter.png" /></a>         
      </div>
  
      <div class="footer-third">
        <h1>Contact Us:</h1>
        <p>You can reach us at 9777-777-777</p>
        <p>E-mail : Farmera@lti.com</p>
        <p>Address : 154, Navi Mumbai, Maharashtra </p>
      </div>
      </div>
</div>
<div class="footer-block2">
    Copyright © farmera.com       
 </div>
