* {
    font-family: 'Montserrat';
}

.card h2 { 
    padding-top: 10px;
    text-align: center;
  }
  
  .card{
     margin-top: 16px;
     padding-top: 20px;
     background-color: #fff;
     margin: 1rem 4rem;
     
  }
    
  .form{
     width: 40%;
     margin: auto;
  }
  
  .form_1{
    width: 40%;
    margin: auto;
    padding-top: 15px;
  }
  
    
    input[type=text], input[type=password], input[type=email], input[type=number]{
      width: 91%;
      padding: 12px;
      margin: 8px 0 12px 0;
      display: inline-block;
      border: 2px solid #f1f1f1;
      background: #ffff;
    }
    input:focus{
      outline: none !important;
      border: 2px solid  rgb(93, 129, 93);
      box-shadow: 0 0 10px ;
    }
    .registerbtn {
      background-color: rgb(33, 88, 33) ;
      padding: 12px 0px;
      margin: 15px 10px;
      border: none;
      cursor: pointer;
      width: 30%;
      opacity: 1;
      border-radius: 15px;
      text-decoration: none;
      color: white;
      margin-left: 70px;
      margin-top: 25px;
    }
  
    .resetbtn {
      background-color: rgb(143, 2, 2) ;
      padding: 12px 0px;
      margin: 15px 10px;
      border: none;
      cursor: pointer;
      width: 30%;
      opacity: 1;
      border-radius: 15px;
      text-decoration: none;
      color: white;
      margin-left: 60px;
      margin-top: 25px;
    }
    
    .registerbtn:hover, .resetbtn:hover {
      opacity: 0.9;
    }