<app-navigation-bar></app-navigation-bar>

<div class="card">
            <h2>About Us</h2>
    
               <p>
                    According to Economic Survey 2018,  Agriculture is a space which employs more than 50 per cent of the total workforce in India and contributes around 17-18 percent to the country’s GDP. <br> 
               </p> 
                
               <p>
                    Economic Survey 2019 also highlighted that doubling farmer’s income will require addressing issues such as access to credit,insurance coverage, and investments in agriculture. <br>
               </p> 
    
                <p> 
                    We at FARMERA have understood that due to lack of awareness and miscommunication, farmers fail to avail the benefits of various scehemes that the Government of India provides for them 
                    moreover the physical sale of Crops at Mandis and Markets increases the labour and stress of farmers. <br>
                </p>
    
                <p>
                    To cater to these challenges we developed a common platform wherein we have integrated various schemes like Fasal Bima Yojna and Bidding of Crops Schemes for farmers, we have provided
                    a common platform for both the farmers and bidders to buy and sell crops thereby reducing the burden of physical sale by farmers and enabling them to use e-farming to sell their products. <br>
                </p>
    
                <p>
                    Through our platform a Farmer can request for a crop auction, specifying details of the crops including quantity and can see current bids and log of all crops sold at the comfort of their home.
                    Interested buyers will be able to see the crops hosted for selling which they can buy specifing the amount they plan to invest for the bidding process. <br>
    
                </p>
    
                <p>
                    Through FARMERA we intend to bridge the gap between the buyers and sellers of agricultural produce
                    by providing them a common platform, FARMERA not only provides farmers the comfort of selling their
                    produce directly but also gives them the best price for their crops through our automated bidding system. <br>
                </p>
    
                <p>
                    Through our endeavours we are hopeful to strengthen the backbone of our country, our farmers.
                </p>
           
</div>

<app-footer></app-footer>
