<app-after-login-navbar></app-after-login-navbar>

<div class="card">
    <h2>Farmers</h2>
      <table id="t01">
        <tr>
          <th>Farmer Id</th>
          <th>Full Name</th>
          <th>Action</th>
        </tr> 
        
        <tr *ngFor="let f of farmerList">          
          <td>{{f.id}}</td>
          <td>{{f.fullName}}</td>
          <td>
            <a *ngIf="f.approvedStatus=='N'"><button class="btn" type="submit" (click)= "approveFarmer(f.id)">Approve</button></a>
            <a *ngIf="f.approvedStatus=='Y'"><button class="btn" type="submit" (click)= "viewFarmerDetails(f.id)">View More</button></a>
          </td>
        </tr>
    
      </table>

      <div *ngIf="toggleFarmer">
        <h3>Personal Details:</h3>
            Name: {{farmer.fullName}}
            Contact No: {{farmer.contactNo}}
            Email ID: {{farmer.emailId}}
        <h3>Address Details:</h3>
            Address: {{farmer.address}}
            City: {{farmer.city}}
            State: {{farmer.state}}
            Pincode:  {{farmer.pinCode}}
        <h3>Land Details:</h3>
            Land Area:  {{farmer.landArea}}
            Land Address: {{farmer.landAddress}}
            Land Pincode: {{farmer.landPincode}}
        <h3>Bank Details:</h3>
            Account No: {{farmer.accountNo}}
            IFSC Code: {{farmer.ifsc}}
      </div>

</div>

<app-footer></app-footer>
