.card{
    margin: 1rem 4rem; 
    padding: 16px;
    background-color: #fff;
}

#t01{
  margin: auto;
}

table {
    width:50%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }

#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  #t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  #t01 th {
    background-color: rgb(33, 88, 33);
    color: white;
  }