<app-after-login-navbar></app-after-login-navbar>

<div class="card">
    <table id="t01">
        <tr>
          <th>Date</th>
          <th>Crop Name</th> 
          <th>Quantity</th>
          <th>MSP</th>
          <th>Sold Price</th>
          <th>Total Price</th>
        </tr>
        <tr>
          <td>5-10-2020</td>
          <td>Rice</td>
          <td>100 Kg</td>
          <td>50</td>
          <td>70</td>
          <td>70</td>
        </tr>
        <tr>
          <td>8-10-2020</td>
          <td>Tomato</td>
          <td>50 Kg</td>
          <td>30</td>
          <td>40</td>
          <td>40</td>
        </tr>
      </table>
  </div>

<app-footer></app-footer>