<app-after-login-navbar></app-after-login-navbar>

<div class="card">
    <table id="t01">
        <tr>
          <th>Crop ID</th>
          <th>Crop Name</th> 
          <th>Quantity</th>
          <th>Base Price</th>
          <th>Sold Price</th>
          <th>Sold Date</th>
        </tr>

        <tr *ngFor="let c of soldCropList">  
          <td>{{c.sellRequestId}}</td>
          <td>{{c.cropName}}</td>
          <td>{{c.quantity}}</td>
          <td>{{c.basePrice}}</td>
          <td>{{c.soldPrice}}</td>
          <td>{{c.soldDate}}</td>
        </tr>
    </table>
</div>

<app-footer></app-footer>