<div class="topnav">
   
    <a routerLink="/home" ><img src="assets/Images/logo.png"></a>
    <h2>Hey Admin!</h2>
    
</div>

<div class="card">
    <div class="form_container">

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname">
      
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw">
      
        <button type="submit" class="loginbtn"><a href="after_login_farmer.html">Login</a></button>
      
    </div>
</div>

<app-footer></app-footer>
