<app-navigation-bar></app-navigation-bar>

<div class="card">
  <div *ngIf = "loginFailed">
     Email/Password Invalid!
  </div>
  <form #myForm="ngForm" (ngSubmit)="myForm.valid && checkLogin()">
    <div class="form_container">

        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter Email" name="email" required [(ngModel)]=user.email #email="ngModel">
        <div *ngIf="myForm.submitted && email.invalid">
        <div *ngIf="email.errors.required">User Name is required.</div>
        </div>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]=user.password #password="ngModel">
        <div *ngIf="myForm.submitted && password.invalid">
        <div *ngIf="password.errors.required">Password is required.</div>
        </div>
      
        <button (click)='checkLogin()' type="submit" class="loginbtn">Login</button>
      
    </div>
    <div class="forgot_container">
      <span class="psw">Forgot <a routerLink="/forgot-password">password?</a></span>
    </div>
    <div class="forgot_container">
      <span class="psw">New User?<a routerLink="/farmer-or-bidder"> Register Here</a></span>
    </div>
  </form>

  <div *ngIf="data">
    {{data.status}} <br/>
    {{data.statusMessage}} <br/>
  </div>

</div> 

<app-footer></app-footer>