<app-after-login-navbar></app-after-login-navbar>

<div class="card">
  <table id="t01">
    <tr>
      <th>Crop Id</th>
      <th>Crop Type</th>
      <th>Crop Name</th>
      <th>Base Price</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let c of cropList">           
      <td>{{c.cropId}}</td>
      <td>{{c.cropType}}</td>
      <td>{{c.cropName}}</td>
      <td>{{c.basePrice}}</td>
      <td>
        <a><button class="btn" type="submit" (click)= "displayCropForBidding(c.cropId,c.cropName,c.basePrice)">Make Bid</button></a>
      </td>
    </tr>

  </table>

  <table id="t01">

    <tr>
        <th>Crop Id</th>
        <th>Crop Name</th>
        <th>Current Bid</th>
        <th>Base Price</th>
    </tr>
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{currentBid}}</td>
        <td>{{basePrice}}</td>
    </tr>
  </table>

  <div class="container form_container" *ngIf="toggle">
    <div class="form">
    <form (ngSubmit)="placeBidForCrop()">
        <input type = "number" placeholder="Enter bid Amount" name="bidamount" [(ngModel)]="liveBid" >
        <input type="submit" class="confirmbtn" value="Confirm"/>
    </form>
    </div>
  </div>

</div>

<app-footer></app-footer>
