* {
    font-family: 'Montserrat';
}

.card{
    margin-top: 16px;
    padding: 16px;
    background-color: #fff;
    margin: 1rem 4rem;
}

h3 {
  text-align: center;
}

.form{
  width: 40%;
  margin: auto;
}
  
.form_container{
    padding: 0px 40px;
    width: 40%;
    margin: auto;
  }

  #t01{
    margin: auto;
  }

table {
    width:50%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }

#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  #t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  #t01 th {
    background-color: #228b22;
    color: white;
  }

  input[type=number]{
    width: 91%;
    padding: 12px;
    margin: 8px 0 12px 0;
    display: inline-block;
    border: 2px solid #f1f1f1;
    background: #ffff;
  }
  input:focus{
    outline: none !important;
    border: 2px solid  rgb(93, 129, 93);
    box-shadow: 0 0 10px ;
  }

  .confirmbtn {
    background-color:#228b22 ;
    padding: 12px 20px;
    margin: 20px 60px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 1;
    border-radius: 15px;
    text-decoration: none;
    color: white;
  }
 
  .confirmbtn:hover {
    opacity: 0.9;
  }

  
  .btn {
    background-color: rgb(248, 92, 2);
    align-self: center;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
  } 