<app-after-login-navbar></app-after-login-navbar>

<div class = "container">
    <div class="bgtext">
        <a href="place_sell_request.html"><button (click) = 'goPlaceSellRequest()' class="button button1">Place Sell Request</button></a>
        <a href="sold_crop_history.html"><button (click) = 'goSoldCropHistory()'  class="button button1">Sold Crop History</button></a>
        <a href="marketplace.html"><button (click) = 'goMarketPlace()' class="button button1">Marketplace</button></a>
    </div>
</div> 

<app-footer></app-footer>
