<app-after-login-navbar></app-after-login-navbar>

<div class="card">

    <h2>Bidders</h2>

    <table id="t01">
      <tr>
        <th>Bidder Id</th>
        <th>Full Name</th>
        <th>Action</th>
      </tr>  


      <tr *ngFor="let b of bidderList">           
        <td>{{b.id}}</td>
        <td>{{b.fullName}}</td>
        <td>
          <a *ngIf="b.approvedStatus=='N'"><button class="btn" type="submit" (click)= "approveBidder(b.id)">Approve</button></a>
          <a *ngIf="b.approvedStatus=='Y'"><button class="btn" type="submit" (click)= "viewBidderDetails(b.id)">View More</button></a>
        </td>
      </tr>
  
    </table>

    <div *ngIf="toggleBidder">
      <h3>Personal Details:</h3>
          Name: {{bidder.fullName}}
          Contact No: {{bidder.contactNo}}
          Email ID: {{bidder.emailId}}
      <h3>Address Details:</h3>
          Address: {{bidder.address}}
          City: {{bidder.city}}
          State: {{bidder.state}}
          Pincode:  {{bidder.pinCode}}
      <h3>Bank Details:</h3>
          Account No: {{bidder.accountNo}}
          IFSC Code: {{bidder.ifsc}}
    </div>

</div>

<app-footer></app-footer>
