<app-after-login-navbar></app-after-login-navbar>

<div class="card">

    <h2>Bidders</h2>

    <table id="t01">
      <tr>
        <th>Bidder Id</th>
        <th>Full Name</th>
        <th>Action</th>
      </tr>  


      <tr *ngFor="let b of bidderList">           
        <td>{{b.id}}</td>
        <td>{{b.fullName}}</td>
        <td>
          <a *ngIf="b.approvedStatus=='N'"><button class="btn" type="submit" (click)= "approveBidder(b.id)">Approve</button></a>
          <a *ngIf="b.approvedStatus=='Y'"><button class="btn" type="submit" (click)= "viewBidderDetails(b.id)">View More</button></a>
        </td>
      </tr>
  
    </table>

    <div *ngIf="toggleBidder" class = "bidderDetails">
      <h2><b>Personal Details:</b></h2>
       <b>Name:</b> {{bidder.fullName}}<br/>
       <b>Contact No:</b> {{bidder.contactNo}}<br/>
       <b>Email ID:</b> {{bidder.emailId}}<br/>
      <h2>Address Details:</h2>
       <b>Address:</b> {{bidder.address}}<br/>
       <b>City:</b> {{bidder.city}}<br/>
       <b>State:</b> {{bidder.state}}<br/>
       <b>Pincode:</b>  {{bidder.pinCode}}<br/>
      <h2>Bank Details:</h2>
       <b>Account No:</b> {{bidder.accountNo}}<br/>
       <b>IFSC Code:</b> {{bidder.ifsc}}<br/>
    </div>

</div>

<app-footer></app-footer>
