<app-after-login-navbar></app-after-login-navbar>

<div class="card">
  <form #myForm="ngForm" (ngSubmit)="myForm.form.valid && goSellRequest()">               
    <div class="form_container">
      <h2>Place Your Sell Request</h2>

      <div class="form">
        <label for="cropType"><b>Crop Type</b></label>
        <input type="text" placeholder="Enter Crop Type" name="cropType" required [(ngModel)]=sellRequest.cropType #cropType="ngModel"/>
        <div *ngIf="myForm.submitted && cropType.invalid">
          <div *ngIf="cropType.errors.required">Crop Type is required.</div>
        </div>
      </div>

      <div class="form">
        <label for="cropName"><b>Crop Name</b></label>
        <input type="text" placeholder="Enter Crop Name" name="cropName" required [(ngModel)]=sellRequest.cropName #cropName="ngModel"/>
        <div *ngIf="myForm.submitted && cropName.invalid">
          <div *ngIf="cropName.errors.required">Crop Name is required.</div>
        </div>
      </div>

      <div class="form">
        <label for="fertilizerType"><b>Fertilizer Type</b></label>
        <input type="text" placeholder="Enter Fertilizer Type" name="fertilizerType" required [(ngModel)]=sellRequest.fertilizerType #fertilizerType="ngModel"/>
        <div *ngIf="myForm.submitted && fertilizerType.invalid">
          <div *ngIf="fertilizerType.errors.required">Fertilizer Type is required.</div>
        </div>
      </div>

      <div class="form">
        <label for="quantity"><b>Quantity (In Kg)</b></label>
        <input type="number" placeholder="Enter Quantity" name="quantity" required [(ngModel)]=sellRequest.quantity #quantity="ngModel"/>
        <div *ngIf="myForm.submitted && quantity.invalid">
          <div *ngIf="quantity.errors.required">Quantity is required.</div>
        </div>
      </div>
      
      <h2></h2>
      <div class="form">
        <label for="sellingDeadline"><b>Selling Deadline </b></label>
        <input type="date" placeholder="Selling Deadline" name="sellingDeadline" required [(ngModel)]=sellRequest.sellingDeadline #sellingDeadline="ngModel"/>
        <div *ngIf="myForm.submitted && sellingDeadline.invalid">
          <div *ngIf="sellingDeadline.errors.required">Selling DeadLine is required.</div>
        </div>
      </div>
      <h2></h2>
      
      <div class="form">
        <label for="basePrice"><b>Base Price (In Rupees)</b></label>
        <input type="number" placeholder="Base Price" name="basePrice" required [(ngModel)]=sellRequest.basePrice #basePrice="ngModel"/>
        <div *ngIf="myForm.submitted && quantity.invalid">
          <div *ngIf="basePrice.errors.required">Base Price is required.</div>
        </div>
      </div>

      <!-- <div class="form">
        <label for="soilphcertificate"><b>Soil pH Certificate</b></label><br/><br/>
        <input type="file" name="soilphcertificate">
      </div> -->
      
      <button type="submit" class="placerequestbtn">Place Request</button>
    </div>
   </form>

   <!-- <div *ngIf="data">
    {{data.status}} <br/>
    {{data.statusMessage}} <br/>
  </div> -->
  
</div>


<app-footer></app-footer>