<app-after-login-navbar></app-after-login-navbar>

<div class="card">
              
    <div class="form_container">
      <h2>Place Your Sell Request</h2>

      <div class="form">
        <label for="croptype"><b>Crop Type</b></label>
        <input type="text" placeholder="Enter Crop Type" name="croptype">
      </div>

      <div class="form">
        <label for="cropname"><b>Crop Name</b></label>
        <input type="text" placeholder="Enter Crop Name" name="cropname">
      </div>

      <div class="form">
        <label for="fertilizertype"><b>Fertilizer Type</b></label>
        <input type="text" placeholder="Enter Fertilizer Type" name="fertilizertype">
      </div>

      <div class="form">
        <label for="quantity"><b>Quantity</b></label>
        <input type="number" placeholder="Enter Quantity" name="quantity">
      </div>

      <div class="form">
        <label for="soilphcertificate"><b>Soil pH Certificate</b></label><br/><br/>
        <input type="file" name="soilphcertificate">
      </div>
      
      <button type="submit" class="placerequestbtn">Place Request</button>
    </div>
   
</div>


<app-footer></app-footer>