<app-after-login-navbar></app-after-login-navbar>

<div class="card">
  <h2>Farmer</h2>
    <table id="t01">
      <tr>
        <th>Farmer Id</th>
        <th>Full Name</th>
        <th>Contact No</th>
        <th>Email Id</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pin Code</th>
        <th>Land Address</th>
        <th>Land Area</th>
        <th>Land Pincode</th>
        <th>Account No</th>
        <th>IFSC</th>
      </tr> 
      
      <tr *ngFor="let f of farmerList">           
        <td>{{f.id}}</td>
        <td>{{f.fullName}}</td>
        <td>{{f.contactNo}}</td>
        <td>{{f.emailId}}</td>
        <td>{{f.address}}</td>
        <td>{{f.city}}</td>
        <td>{{f.state}}</td>
        <td>{{f.pinCode}}</td>
        <td>{{f.landAddress}}</td>
        <td>{{f.landArea}}</td>
        <td>{{f.landPincode}}</td>
        <td>{{f.accountNo}}</td>
        <td>{{f.ifsc}}</td>
        <td>
          <a><button class="btn" type="submit" (click)= "approveFarmer(f.id)">{{farmerApproved}}</button></a>
        </td>
      </tr>
  
    </table><br/>
 
    <h2>Bidder</h2>

    <table id="t01">
      <tr>
        <th>Bidder Id</th>
        <th>Full Name</th>
        <th>Contact No</th>
        <th>Email Id</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pin Code</th>
        <th>Account No</th>
        <th>IFSC</th>
      </tr>  


      <tr *ngFor="let b of bidderList">           
        <td>{{b.id}}</td>
        <td>{{b.fullName}}</td>
        <td>{{b.contactNo}}</td>
        <td>{{b.emailId}}</td>
        <td>{{b.address}}</td>
        <td>{{b.city}}</td>
        <td>{{b.state}}</td>
        <td>{{b.pinCode}}</td>
        <td>{{b.landAddress}}</td>
        <td>{{b.landArea}}</td>
        <td>{{b.landPincode}}</td>
        <td>{{b.accountNo}}</td>
        <td>{{b.ifsc}}</td>
        <td>
          <a><button class="btn" type="submit" (click)= "approveBidder(b.id)">{{bidderApproved}}</button></a>
        </td>
      </tr>
  
    </table><br/>

    <h2>Sell Request</h2>

    <table id="t01">
      <tr>
        <th>Sell Request Id</th>
        <th>Request Date</th>
        <th>Crop Type</th>
        <th>Crop Name</th>
        <th>Quantity</th>
        <th>Base Price</th>
        <th>Fertilizer Type</th>
        <th>Selling DeadLine</th>
        <th>Bidding DeadLine</th>
        <th>Bidding Status</th>
        <th>Approved Status</th>
      </tr>  

      <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>
          <a><button class="btn" type="submit" >Approve</button></a>
        </td>
      </tr>
  
    </table><br/>

    <h2>Bidding Request</h2>

    <table id="t01">
      <tr>
        <th>Bid Id</th>
        <th>Bid Amount</th>
        <th>Bid Date</th>
        <th>Approved Status</th>
      </tr>  

      <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>
          <a><button class="btn" type="submit" >Approve</button></a>
        </td>
      </tr>
  
    </table><br/>
    </div>

<app-footer></app-footer>