<app-after-login-navbar></app-after-login-navbar>

<!-- <div class="card">
  <h2>Farmers</h2>
    <table id="t01">
      <tr>
        <th>Farmer Id</th>
        <th>Full Name</th>
        <th>Contact No</th>
        <th>Email Id</th>
        <th>Land Area</th>
        <th>Account No</th>
        <th>IFSC</th>
        <th>Approved Status</th>
      </tr> 
      
      <tr *ngFor="let f of farmerList">           
        <td>{{f.id}}</td>
        <td>{{f.fullName}}</td>
        <td>{{f.contactNo}}</td>
        <td>{{f.emailId}}</td>
        <td>{{f.landArea}}</td>
        <td>{{f.accountNo}}</td>
        <td>{{f.ifsc}}</td>
        <td>
          <a><button class="btn" type="submit" (click)= "approveFarmer(f.id)">{{f.approvedStatus=='N'? 'Approve':'Approved'}}</button></a>
        </td>
      </tr>
  
    </table><br/> -->
 
    <!-- <h2>Bidders</h2>

    <table id="t01">
      <tr>
        <th>Bidder Id</th>
        <th>Full Name</th>
        <th>Contact No</th>
        <th>Email Id</th>
        <th>Account No</th>
        <th>IFSC</th>
        <th>Approved Status</th>
      </tr>  


      <tr *ngFor="let b of bidderList">           
        <td>{{b.id}}</td>
        <td>{{b.fullName}}</td>
        <td>{{b.contactNo}}</td>
        <td>{{b.emailId}}</td>
        <td>{{b.accountNo}}</td>
        <td>{{b.ifsc}}</td>
        <td>
          <a><button class="btn" type="submit" (click)= "approveBidder(b.id)">{{b.approvedStatus=='N'? 'Approve':'Approved'}}</button></a>
        </td>
      </tr>
  
    </table><br/> -->

    <!-- <h2>Sell Requests</h2>

    <table id="t01">
      <tr>
        <th>Sell Request Id</th>
        <th>Request Date</th>
        <th>Crop Type</th>
        <th>Crop Name</th>
        <th>Selling Deadline</th>
        <th>Bidding DeadLine</th>
        <th>Approved Status</th>
        <th>Bidding Status</th>
      </tr>  

      <tr *ngFor="let sr of cropList">           
        <td>{{sr.requestId}}</td>
        <td>{{sr.requestDate}}</td>
        <td>{{sr.cropType}}</td>
        <td>{{sr.cropName}}</td>
        <td>{{sr.sellingDeadline}}</td>
        <td>
          <a><button class="btn2" type="submit" (click)= "openBiddingDeadlineForm(sr.requestId,sr.requestDate,sr.sellingDeadline)">{{biddingDeadlineStatus}}</button></a>
        </td>
        <td>
          <a><button class="btn" type="submit" (click)= "approveSellRequest(sr.requestId)">{{sr.approvedStatus=='N'? 'Approve':'Approved'}}</button></a>
        </td>
        <td>
          <a><button class="btn" type="submit" (click)= "closeBidding(sr.requestId)">{{sr.biddingStatus=='O'? 'Close Bidding':'Bidding Closed'}}</button></a>
        </td>
      </tr>
    </table><br/>

    <div class="container" *ngIf="toggle">
      <div class="form">
      <form (ngSubmit)="setBiddingDeadline()">
          <input type = "date" placeholder="Bidding DeadLine" name="biddingDeadline" [(ngModel)]="biddingEndDate">
          <input type="submit" class="confirmbtn" value="Confirm"/>
      </form>
      </div>
    </div> -->

    <!-- <h2>Bidding Requests</h2>

    <table id="t01">
      <tr>
        <th>Bid Id</th>
        <th>Bid Amount</th>
        <th>Bid Date</th>
        <th>Approved Status</th>
      </tr>
      
      <tr *ngFor="let br of bidList">           
        <td>{{br.id}}</td>
        <td>{{br.amount}}</td>
        <td>{{br.bidDate}}</td>
        <td>
          <a><button class="btn" type="submit" (click)= "approveBiddingRequest(br.id)">{{br.approvedStatus=='N'? 'Approve':'Approved'}}</button></a>
        </td>
      </tr>

      
  
    </table><br/> -->

    <div class="container">
      <div class="bgtext">
        <a><button (click)="goFarmerAdminDashBoard()" class="button button1">Farmers</button></a>
        <a><button (click)="goBidderAdminDashBoard()" class="button button1">Bidders</button></a>
        <a><button (click)="goSellRequestAdminDashBoard()" class="button button1">Crop Sell Requests</button></a>
        <a><button (click)="goBiddingRequestAdminDashBoard()" class="button button1">Bidding Requests</button></a>
      </div>
    </div>

    <!-- </div> -->

<app-footer></app-footer>