<app-after-login-navbar></app-after-login-navbar>

<div class="card">
  <h2>Farmer</h2>
    <table id="t01">
      <tr>
        <th>Farmer Id</th>
        <th>Full Name</th>
        <th>Contact No</th>
        <th>Email Id</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pin Code</th>
        <th>Land Address</th>
        <th>Land Area</th>
        <th>Land Pincode</th>
        <th>Account No</th>
        <th>IFSC</th>
        <th>Password</th>
        <th>Approved Status</th>
      </tr>  

      <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>
          <a><button class="btn" type="submit">Approve</button></a>
        </td>
      </tr>
  
    </table><br/>
 
    <h2>Bidder</h2>

    <table id="t01">
      <tr>
        <th>Bidder Id</th>
        <th>Full Name</th>
        <th>Contact No</th>
        <th>Email Id</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pin Code</th>
        <th>Account No</th>
        <th>IFSC</th>
        <th>Password</th>
        <th>Approved Status</th>
      </tr>  

      <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>
          <a><button class="btn" type="submit" >Approve</button></a>
        </td>
      </tr>
  
    </table><br/>

    <h2>Sell Request</h2>

    <table id="t01">
      <tr>
        <th>Sell Request Id</th>
        <th>Request Date</th>
        <th>Crop Type</th>
        <th>Crop Name</th>
        <th>Quantity</th>
        <th>Base Price</th>
        <th>Fertilizer Type</th>
        <th>Selling DeadLine</th>
        <th>Bidding DeadLine</th>
        <th>Bidding Status</th>
        <th>Approved Status</th>
      </tr>  

      <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>
          <a><button class="btn" type="submit" >Approve</button></a>
        </td>
      </tr>
  
    </table><br/>

    <h2>Bidding Request</h2>

    <table id="t01">
      <tr>
        <th>Bid Id</th>
        <th>Bid Amount</th>
        <th>Bid Date</th>
        <th>Approved Status</th>
      </tr>  

      <tr>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>
          <a><button class="btn" type="submit" >Approve</button></a>
        </td>
      </tr>
  
    </table><br/>
    </div>

<app-footer></app-footer>