<app-navigation-bar></app-navigation-bar>

<div class="card">
  <form #myForm="ngForm" (ngSubmit)="myForm.valid && checkMail()">
    <h3>Please Enter Your Email Id. We will send you a reset link shortly.</h3>
        <div class="form_container">
        
          <div class="form">
            <label for="emailId"></label>
            <input type="email" placeholder="Enter Email Id" name="emailId" required minlength="13" [(ngModel)]=user.emailId #emailId="ngModel">
            <div *ngIf="emailId.invalid && myForm.submitted">
              <div *ngIf="emailId.errors.required">
              Email is required.
              </div>
              <div *ngIf="emailId.errors.minlength">
              Email must be at least 13 characters long.
              </div>
              </div>
          </div>
             
          <button (click)='checkMail()' type="submit" class="submitbtn">Submit</button>
        </div>
      </form>
      
</div>


<app-footer></app-footer>
