<app-after-login-navbar></app-after-login-navbar>

<div class="background">
  <div class="heading1">Active Crops</div>

  <div class="card">
    <table id="t01">
      <tr>
        <th>Crop ID</th>
        <th>Crop Name</th>
        <th>Base Price</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let c of cropList">           
        <td>{{c.cropId}}</td>
        <td>{{c.cropName}}</td>
        <td>{{c.basePrice}}</td>
        <td>
          <a><button class="btn" type="submit" (click)= "viewPreviousBidsForCrop(c.cropId)">View More</button></a>
        </td>
      </tr>

    </table>
  </div>

  <div class="heading1">Previous Bids</div>

  <div class="card" *ngIf="toggle">
    <table id="t01">
      <tr>
          <th>Crop ID</th>
          <th>Crop Name</th>
          <th>Bid ID</th>
          <th>Bid Amount</th>
          <th>Bid Date</th>
      </tr>
      <tr *ngFor="let b of bidList">           
        <td>{{b.sellRequestId}}</td>
        <td>{{b.cropName}}</td>
        <td>{{b.bidId}}</td>
        <td>{{b.amount}}</td>
        <td>{{b.bidDate}}</td>
      </tr>
    </table>
  </div>
</div>

<app-footer></app-footer>
